// .blog-tags a {
//   @apply font-bold underline text-hot-pink;

//   &:hover {
//     @apply text-black;
//   }
// }

a {
  font-weight: bold;
}

a:hover {
  color: #534ea1;
}

#searchBox {
  border: 2px solid black;
  border-radius: 5px;
}

.searchResultPage {
  padding: 15px 0;
}

.searchResultTitle {
  color: #534ea1 !important;
}

::-moz-selection {
  color: white;
  background: #534ea1;
}

::selection {
  color: white;
  background: #534ea1;
}