---

---

<span class="
  inline-block
  px-2 py-1
  mx-2 mt-2
  rounded
  text-sm font-semibold
">
  <slot />
</span>

<style>
    span {
        background-color: #534ea1;
        color: #fff;
    }
</style>