---
---

<nav>
  <div
    class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16"
  >
    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="40.000000pt" height="40.000000pt" viewBox="0 0 8718.000000 8719.000000" preserveAspectRatio="xMidYMid meet">

      <g transform="translate(0.000000,8719.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
        <path class="mun-logo-svg" d="M44890 87183 c-1416 -15 -3007 -113 -4465 -274 -5982 -660 -11739 -2494 -17005 -5417 -5108 -2835 -9649 -6655 -13336 -11217 -4341 -5371 -7394 -11639 -8933 -18340 -637 -2776 -1006 -5571 -1121 -8485 -33 -848 -38 -2408 -11 -3170 71 -1939 226 -3656 487 -5375 19 -126 41 -282 49 -345 26 -203 77 -385 145 -520 84 -167 249 -360 407 -477 161 -119 365 -204 589 -244 153 -28 444 -30 607 -6 617 94 1208 377 1788 857 83 69 838 816 2278 2254 1447 1445 2146 2136 2129 2106 -270 -482 -5676 -10237 -5689 -10265 -32 -72 -99 -317 -124 -453 -53 -286 -55 -560 -5 -787 107 -485 391 -813 838 -969 186 -64 296 -81 547 -81 291 0 479 31 767 125 119 38 324 151 5263 2890 2826 1567 5141 2850 5144 2850 3 0 -1966 -1972 -4375 -4382 -2410 -2411 -4422 -4430 -4471 -4489 -409 -482 -694 -1013 -822 -1531 -147 -591 -78 -1120 193 -1478 170 -226 384 -383 644 -474 189 -65 295 -81 557 -80 250 1 344 13 585 74 558 142 1140 471 1634 926 202 186 11912 11907 12003 12015 464 546 767 1154 868 1734 85 496 -1 961 -236 1274 -33 44 -387 405 -845 861 -710 706 -798 790 -877 839 -104 64 -242 122 -369 156 -328 87 -736 71 -1131 -45 -56 -16 -1663 -556 -3572 -1199 -1908 -644 -3471 -1168 -3473 -1167 -4 5 5093 8606 5257 8871 955 1544 1433 2635 1468 3347 6 121 7 127 30 137 22 10 24 16 19 49 -29 187 -108 1317 -136 1947 -33 766 -39 2231 -11 2890 29 673 60 1188 101 1695 455 5540 2159 10857 5008 15624 3931 6579 9858 11775 16879 14797 3128 1346 6410 2239 9793 2664 251 32 333 45 276 45 -9 0 -153 13 -319 30 -1211 120 -2403 187 -3732 210 -505 9 -723 9 -1295 3z"/>
        <path class="mun-logo-svg" d="M86916 50188 c-4 -40 -27 -226 -52 -413 -947 -7216 -4022 -13931 -8889 -19410 -793 -893 -1805 -1916 -2710 -2739 -3897 -3546 -8527 -6211 -13525 -7786 -4116 -1297 -8445 -1848 -12800 -1630 -904 45 -1795 124 -2733 241 -301 37 -330 40 -346 25 -14 -13 -45 -16 -172 -16 -241 0 -466 -39 -783 -136 -644 -197 -1499 -622 -2548 -1266 l-227 -140 -3433 -2877 c-1888 -1583 -3434 -2877 -3436 -2875 -2 1 514 1564 1148 3473 633 1908 1164 3521 1180 3583 154 583 90 1129 -174 1496 -84 117 -1597 1623 -1696 1689 -273 182 -586 264 -955 250 -241 -9 -431 -44 -676 -123 -504 -162 -973 -447 -1428 -868 -242 -224 -11850 -11842 -11955 -11965 -512 -604 -820 -1239 -902 -1862 -22 -173 -15 -482 16 -624 64 -300 168 -494 374 -701 166 -165 308 -255 511 -323 168 -56 272 -72 490 -78 302 -8 521 27 840 132 474 155 900 403 1346 781 63 53 2080 2062 4483 4463 2403 2401 4360 4350 4349 4331 -11 -19 -1295 -2333 -2853 -5142 -3066 -5530 -2861 -5150 -2930 -5430 -55 -225 -65 -312 -65 -573 1 -264 13 -350 76 -539 145 -435 498 -744 959 -841 40 -8 197 -55 349 -104 5382 -1736 11069 -2448 16776 -2101 6773 413 13345 2332 19260 5623 2904 1616 5639 3558 8125 5769 1320 1174 2624 2477 3786 3784 3272 3681 5933 7872 7849 12365 2138 5013 3349 10343 3590 15799 33 763 40 1089 39 2045 0 1214 -23 1956 -94 3030 -45 674 -139 1737 -154 1753 -2 1 -7 -30 -10 -70z"/>
        <path class="mun-logo-svg" d="M22315 31094 c-507 -55 -904 -206 -1290 -492 -81 -61 -1067 -1041 -5128 -5101 -2766 -2764 -5093 -5096 -5171 -5181 -384 -415 -652 -752 -912 -1145 -484 -733 -754 -1415 -856 -2165 -30 -223 -33 -734 -5 -960 73 -583 236 -1108 532 -1705 393 -793 934 -1543 1793 -2485 234 -256 882 -908 1142 -1147 1527 -1409 2750 -2097 4000 -2250 180 -22 636 -24 810 -5 750 86 1459 362 2205 857 398 264 732 528 1175 929 208 188 10149 10123 10274 10268 318 367 514 798 582 1283 21 146 24 467 6 605 -59 448 -223 854 -485 1200 -96 126 -288 323 -412 423 -283 228 -613 392 -956 476 -181 44 -312 61 -509 68 -559 18 -1090 -149 -1545 -486 -81 -60 -1085 -1058 -5250 -5221 -2832 -2831 -5199 -5191 -5260 -5245 -627 -559 -1002 -620 -1554 -255 -345 228 -824 673 -1228 1140 -425 491 -608 832 -629 1173 -22 357 154 723 586 1222 62 72 2361 2380 5110 5130 2806 2808 5026 5037 5064 5085 499 628 667 1431 460 2186 -111 408 -311 756 -609 1063 -379 390 -861 635 -1409 717 -98 15 -451 26 -531 18z"/>
      </g>
    </svg>
    <a href="/" class="font-bold text-xl hover:text-hot-pink">MUN Magazine</a>
    <a href="/search" class="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </a>
  </div>
  <div class="w-full border-b-2 border-black squiggle"></div>
</nav>

<style>
  .mun-logo-svg {
    fill: black;
  }
</style>