---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<figure class="relative h-auto max-w-xl transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 mx-auto">
    <a href="#">
      <img class="rounded-lg" src={post.frontmatter.hero} alt="image description">
    </a>
    <figcaption class="absolute px-4 text-lg text-white bottom-6 text-center">
        <p>{post.frontmatter.title}</p>
    </figcaption>
  </figure>